<div class="homecontent">
    <div class="container">
        <h4>PROFILE</h4>
        <p>Dewpoint was founded in 1995. Our journey is special because apart from establishing ourselves as one of the leading dealerships in India, we can proudly say that many of our customers have kept us company from our very first step. It is with their support and goodwill that we have grown from strength to strength. Today, Dewpoint has two business divisions with a turnover of 4 crore.</p>
        <p>&nbsp;</p>
        <h4>CUSTOMERS</h4>
        <p class="text-center">
            <img src="imgs/clients.png" />
        </p>
    </div>
</div>
